<div class="flex flex-row">
    <%= form_with(model: @product, url: products_path, local: true, method: :post) do |f| %>
        <div class="m-1">
            <%= f.text_field :title, autocomplete: "off", placeholder: "Product name" %>
        </div>
        <div class="m-1">
            <%= f.number_field :current_price, in: 1..10000, step: 0.01, autocomplete: "off", placeholder: "Price" %>
        </div>
        <div class="m-1">
            <%= f.number_field :previous_price, in: 1..10000, step: 0.01, autocomplete: "off", placeholder: "Previous Price" %>
        </div>
        <div class="m-1">
            <%= f.text_field :image, autocomplete: "off", placeholder: "Image URL" %>
        </div>
        <div class="m-1">
            <%= f.text_area :pro_description, autocomplete: "off", placeholder: "Description" %>
        </div>
        <div class="m-1 bg-green-500 rounded w-32">
            <%= f.submit "Create Product"%>
        </div>
    <% end %>
</div>