<h1> Our Products! </h1>

<%= render partial: 'partials/productform' %>

<div>
    <% if @products.empty? %>
        <p>There are no products</p>
    <% else %>
        <% @products.each do |product| %>
            <%= link_to product_path(product) do %>
                <div>
                    <h2><%= product.title %></h2>
                    <p><%= product.current_price %></p>
                    <img src=<%= @product.image %> alt="product image">
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>